<!-- troca de categorias -->
<div class="categoria">
    <!-- <span> {{categorias}} </span> -->
</div>  

<!-- fazer menu lateral -->
<div class="tela">
    <div class="topo" [style.background]="corCategoria"></div>

    <div class="conteudo">
        <!-- fazer o mesmo com os buttons [style.o que foi usado no style]="corCategoria" -->
        <div class="title" [style.color]="corCategoria">{{categorias}}</div>
        
        <div class="buttons">
            <button [class]="classeCategoria">Agenda</button>
            <button [class]="classeCategoria">Tarefas</button>
            <button [class]="classeCategoria">Notas</button>
        </div>
    </div>
</div> 

