<!-- troca de categorias -->
<div class="categoria"></div>  
<!-- fazer menu lateral -->
<div class="tela">
    <div class="topo" [style.background]="corCategoria"></div>
    
    <div class="conteudo">
        <div class="title" [style.color]="corCategoria">{{categorias}}</div>

        <div class="container">
            <div class="add-compromisso" [style.color]="corCategoria">
                <h3>Adicionar compromissos e tarefas</h3>

                <button class="btn-add" matButton="filled" color="primary" (click)="openDialog()">Adicionar</button>
            </div>
            
            <div class="tarefas"[style.color]="corCategoria">
                <h3>Compromissos e Tarefas</h3>

                <div class="lista" *ngFor="let tarefa of listaTarefas">
                    <mat-checkbox class="example-margin">
                    {{ tarefa.text }} - {{ tarefa.date }}
                     </mat-checkbox>
                </div>
            </div>
        </div>
        
    </div>
</div> 
