<div class="tela">
  <div class="topo"></div>

  <div class="home-container">
    <h2>O que você deseja organizar?</h2>
  
    <div class="buttons">
      <button class="btn trabalho" (click)="goTo('categorias', 'Trabalho')">Trabalho</button>
      <button class="btn estudos" (click)="goTo('categorias',  'Estudos')">Estudos</button>
      <button class="btn pessoal" (click)="goTo('categorias', 'Pessoal')">Pessoal</button>
      <button class="btn visao-geral" (click)="goTo('visao-geral')">Visão Geral</button>
    </div>
  </div>
</div>
