<div class="tela">
  <div class="topo"></div>

  <div class="container">
  <h1>Bem vindo de volta</h1>
  <a class="abrirCadastro" (click)="abrirCadastro()">Não possui conta? Inscreva-se gratuitamente</a>
  <form class="form" (ngSubmit)="abrirHome()">
    <input 
      type="email" 
      id="email" 
      placeholder="Digite o endereço de email" 
      [(ngModel)]="email" 
      name="email"
      required
    />

    <input 
      type="password" 
      placeholder="Senha" 
      [(ngModel)]="senha" 
      name="senha"
      required
    />

    <button type="submit"(click)="abrirHome()">Entrar</button>
  </form>
  </div>
</div>