.tela{
  .topo{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#6b21a8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}
// Cores principais
$primary-color: #1B0060;
$secondary-color: #f107a3;
$text-color: #333;
$light-gray: #999;
$border-color: #999;

// Estilos gerais
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    font-size: 1.8rem;
    color: black;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  .abrirCadastro{
     text-align: left;
     margin: 0.5rem 0 1.5rem;
     text-decoration: none;
     font-size: 0.9rem;
     color: #6b21a8;
     transition: 0.2s;

        &:hover {
          text-decoration: underline;
        }
  }

  .subtitle {
    font-size: 1rem;
    // color: #9a9a9a;
    margin-bottom: 2rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    input {
      padding: 0.9rem;
      border: 1.5px solid #a8a8a8;
      border-radius: 8px;
      font-size: 1rem;
      outline: none;
      color: #333333;
    }
    .inscreva-se {
      text-align: left;
      margin-top: -0.4rem;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: #6b21a8;
        transition: 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .forgot-password {
      text-align: left;
      margin-top: -0.4rem;

      a {
        text-decoration: none;
        font-size: 0.9rem;
        color: #6b21a8;
        transition: 0.2s;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      margin-top: 0.5rem;
      padding: 0.8rem;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: 500;
      cursor: pointer;
      background-color: transparent;
      border: 1.8px solid #6b21a8;
      color: #6b21a8;
      transition: all 0.3s ease;

      &:hover {
        background-color: #6b21a8;
        color: #fff;
        transform: scale(1.02);
      }
    }
  }
}

// Responsividade
@media (max-width: 480px) {
  .container {
    padding: 1rem;

    h1 {
      font-size: 1.5rem;
    }

    .subtitle {
      font-size: 0.9rem;
    }

    input, button {
      font-size: 0.95rem;
    }
  }
}
// Responsividade
@media (max-width: 480px) {
  .container {
    h1 {
      font-size: 1.5rem;
    }

    .subtitle {
      font-size: 0.9rem;
    }

    input,
    button {
      font-size: 0.95rem;
    }
  }
}
