.example-section {
  margin: 12px 0;
}

.tela{
  .topo{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color:#6b21a8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}

.conteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;

  .title {
    color: #6b21a8;
    font-size: 1rem;
    // font-weight: 70;
    margin-bottom: 400px;
    // margin-top: 60px;
  }
}



// .conteudo {
//   padding: 20px;

//   .title {
//     margin-bottom: 16px;

//     h2 {
//       font-size: 24px;
//       font-weight: 600;
//       color: #6b21a8;  // cor de "Visão Geral"
//     }
//   }
// }